<header>
    <div class="logo">
        <img src="../../../assets/img/BIT-Horizontal-Black.png" alt="">
    </div>
    <p class="title">Bit Music Lite</p>
    <div class="btn-group">
        <button>
            <i class="sm-menu fa fa-search"></i>
            <span class="big-menu"> Explora </span>
        </button>
        <button>
            <i class="sm-menu fa fa-sign-in-alt"></i>
            <span class="big-menu"> Ingresa </span>
        </button>
        <button>
            <i class="sm-menu fa fa-user-plus"></i>
            <span class="big-menu"> Regístrate </span>
        </button>
    </div>
</header>