<div class="container">
    <div>
        <div id="cancion1" class="album-image">
            <img src="../../../assets/img/sundaymorning.jpg" alt="">
        </div>
        <p>Sunday Morning</p>
        <p>Maroon 5</p>
    </div>
    <div>
        <div id="cancion2" class="album-image">
            <img src="../../../assets/img/davidguetta.jpg" alt="">
        </div>
        <p>Baby When The Light</p>
        <p>David Guetta</p>
    </div>
    <div>
        <div id="cancion3" class="album-image">
            <img src="../../../assets/img/Lost_on_You_cover.jpeg" alt="">
        </div>
        <p>Lost On You</p>
        <p>LP</p>
    </div>
    <div>
        <div id="cancion4" class="album-image">
            <img src="../../../assets/img/joss.jpg" alt="">
        </div>
        <p>You Had Me</p>
        <p>Joss Stone</p>
    </div>
    <div>
        <div id="cancion5" class="album-image">
            <img src="../../../assets/img/bobsinclair.jpg" alt="">
        </div>
        <p>World Hold On</p>
        <p>Bob Sinclair</p>
    </div>
    <div>
        <div id="cancion6" class="album-image">
            <img src="../../../assets/img/samsmith.jpg" alt="">
        </div>
        <p>Writings On The Wall</p>
        <p>Sam Smith</p>
    </div>
</div>
<div class="audio-main">
    <div>Reproduciendo ahora:
        <img id="albumReproduciendo" src="" alt="">
        <p id="cancionReproduciendo"></p>
    </div>
    <audio src="" controls>
        Actualiza tu navegador para tener la mejor experiencia musical
    </audio>
</div>